<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link rel="icon" href="{{ static_url('pics/favicon.ico') }}" type="image/x-icon"/>
        <!--link rel="shortcut icon" href="{{ static_url('pics/favicon.ico') }}" type="image/x-icon"/  add own icon-- >
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
        <script src="https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>
        <!--link rel="stylesheet" href="{{ static_url('stylesheet.css') }}" / link to the custom css-->
        <script>
            $(document).ready(function(){
                $('#table').dataTable();
            });
        </script>
        <title>
            Hermes
        </title>
    </head>
    <body id="body">
        <h2> Hermes </h2>
        <table border="1px solid black" >
            <thead>
                <tr>
                    <td colspan="1"> <strong> Symbol </strong></td>   
                    <td> <strong> Bid </strong></td>  
                    <td > <strong> Ask </strong></td>  
                </tr>    
            </thead>
            <tbody>    
                {% if results %}
                {% for result in results %} 
                <tr>
                    <td>{{ String(result[0]) }}</td>
                    <td>{{ String(result[1]) }}</td> 
                    <td>{{ String(result[2]) }}</td> 
                </tr>
                {% end %}
                {% else %}
                <tr>
                    <td> No results! </td>
                </tr>
                {% end %}
            </tbody>
    </table>
    </body>
</html>